<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Keycode</title>
    <script src="../js/main.js"></script>
</head>
<body>
    <div>
        <input id="userInput" type="text" placeholder="Type for keycode" autofocus>
        <table>
            <!--on key press-->
            <tr>
                <td id="keydown_event">KD: </td>
            </tr>
            <!--on key down-->
            <tr>
                <td id="keypress_event">KP: </td>
            </tr>
            <!--on key up-->
            <tr>
                <td id="keyup_event">KU: </td>
            </tr>
        </table>
    </div>
</body>
</html>