<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Keycode</title>
    <script src="../js/main.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <div id="wrapper">
        <!--title-->
        <h2>JS Keycode</h2>
        <!--character input-->
        <input id="userInput" type="text" placeholder="type here" autofocus>
        <!--display keycodes-->
        <table>
            <tr>
                <th class="tdLabel">Key Down</th>
                <th class="tdLabel">Key Press</th>
                <th class="tdLabel">Key Up</th>
            </tr>
            <tr>
                <td id="keydown_event"></td>
                <td id="keypress_event"></td>
                <td id="keyup_event"></td>
            </tr>
        </table>
    </div>
</body>
</html>